:root {
    --light-gray: #c9c9cb;
    --med-gray: #808080;
    --dark-gray: #343434;
    --off-black: #212121;
    --light-blue: #ade7fe;
    --med-blue: #76d5ff;
    --med-dark-blue: #52acfa;
    --dark-blue: #1a77f2;
    --coral: #fe7e79;
    --pink:  #fe48a3;
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.main {
    flex: 1;
    width: min(900px, calc(100vw - 25px));
    margin: 0 auto;
}

a:hover {
    color: var(--pink); 
}

input {
    font: inherit;
    border-radius: 5px;
    border: 1px solid var(--light-gray);
}

.horizontal-line {
    width: 100%;
    border: none;
    border-top: 1px solid var(--light-gray);
}

.error-msg {
    color: red;
}
.error-msg.alert {
    text-align: center;
}
.error-msg.account {
    margin-top: 25px;
    margin-left: 12px;
    font-size: 18px;
    font-weight: 500;
}
.error-msg.account.pw-reset {
    margin-top: 10px;
    font-weight: 400;
}
.pw-reset-success-msg {
    color: green;
}


/* header-related */
.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px; /* space between title and subtitle */
}
.title {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    color: var(--off-black);
    letter-spacing: -1px;
    word-spacing: 4px;
    margin: 0px 20px;
}
.subtitle-container {
    display: flex;
    justify-content: center;
}
.subtitle {
    color: var(--med-gray);
    font-weight: 500;
    text-align: center;
}
#wiki-link {
    color: var(--med-dark-blue);
}
#wiki-link:hover {
    color: var(--pink); 
}
.log-out-container {
    text-align: right;
}
.log-out {
    font-size: 20px;
    padding-bottom: 0px;
}


/* buttons */
button {
    color: white;
    font-weight: 600;
    font-family: inherit;
    padding: 12px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.press-down:active {
    box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
    transform: scale(0.99);
    font-size: 15px;
}
.blue-button {
    background-color: var(--dark-blue);
}
.coral-button {
    background-color: var(--coral);
}
.transparent-button {
    background-color: transparent;
    outline: none;
    color: var(--dark-blue);
}
.transparent-button:hover {
    color: var(--pink);
}


/* login */
.login-container {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}
.login-container h2 {
    align-self: flex-start;
    margin-top: 15px;
}
.login-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
.login-container input {
    padding: 10px;
    margin-bottom: 10px;
}
.pw-div {
    position: relative;
    display: flex;
    align-items: center;
}
.pw-input {
    flex-grow: 1;
}
.pw-eye {
    color: var(--med-gray);
    position: absolute;
    right: 0;
    border: none;
    background: none;
    margin-bottom: 10px; /* password-div goes down 10px lower than password input, so need this for icon to still be centered vertically */
}
.pw-eye:hover {
    color: var(--med-gray);
}
.forgot-pw {
    align-self: flex-start;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 20px;
    padding: 0;
    margin-top: -5px;
    color: var(--dark-blue);
    text-decoration: none;
}



/* overview page (with Account and Alerts views) */
.overview-heading {
    font-size: 28px;
    font-weight: 500;
    margin: 10px 30px;
}
.overview-text {
    margin: 10px 30px;
    font-size: 16px;
    color: var(--dark-gray);
}


/* Account section */
.account-container {
    margin: 20px 0px 73px 20px;
}
.account-inline-container {
    display: flex;
    align-items: center; /* Vertically center items */
    font-size: 18px;
}
.account-item {
    margin-left: 12px;
    margin-right: 12px;
}



/* Alerts section */
.alerts-table {
    width: 77%;
    margin: 30px auto 0 auto;
    border-collapse: collapse;
    font-size: 18px;
}
.alerts-table th, .alerts-table td {
    text-align: left;
    padding: 10px;
}
.alerts-table thead tr { /* line under table heading */
    border-bottom: 1px solid var(--med-gray);
}
/* adjust column widths (add up to 100%) */
.alerts-table td:first-child, .alerts-table th:first-child { 
    width: 65%;
}
.alerts-table td:nth-child(2), .alerts-table th:nth-child(2) {
    width: 25%;
}
.alerts-table td:last-child, .alerts-table th:last-child {
    width: 10%;
}
.table-button {
    padding: 0;
    font-size: 18px;
}
.fa-plus {
    font-size: 25px;
}
.alerts-table th:last-child, .alerts-table td:last-child { /* Center the icons in their column */
    text-align: center;
}
.alerts-table input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}
.alerts-table input[type="text"]::placeholder {
    font-size: 15px;
}
.alerts-table tr:nth-last-child(2) td:first-child { /* create gap */
    padding-right: 25px;
}
/* get "Want help?" flush to input row */
.help-row td {
    padding-top: 0;
}
.alerts-table tr:nth-last-child(2) td { /* input fields */
    padding: 10px 0 0 0;
}


/* InfoBox related */
.want-help {
    padding: 0;
}
.info-box {
    background-color: white;
    position: absolute;
    right: 80px;
    bottom: 60px;
    z-index: 1;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px 50px 0px 50px;
    overflow-y: auto;
}
.exit-info-button {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 2rem;
    color: var(--dark-gray);

}
.info-box-heading {
    text-align: center;
    margin-bottom: 28px;
    margin-top: 32px;
}
.aqi-chart {
    max-height: 300px;
}
.info-box-text {
    color: var(--dark-gray);
    text-align: center;
    font-size: 15px;
    margin-top: 17px;
    margin-bottom: 18px;
    max-width: 600px;
    text-align: center;
}


/* footer */
.footer-icon-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;

}
.footer-icon {
    font-size: 1.2rem;
    margin: 1.4rem 1rem 2rem 1rem;
    color: var(--med-gray);
}
.footer-icon:hover {
    color: var(--pink);
}


/* small screens */
@media (max-width: 925px) {
    .hide-on-small-screens {
        display: none;
    }
    .title {
        font-size: 50px !important;
    }
    .cloud-image {
        max-height: 50px !important;
    }
    .aqi-chart {
        max-width: 290px;
    }
    .info-box-text {
        max-width: 290px;
    }
}
@media (max-width: 680px) {
    .account-inline-container {
        flex-direction: column;
    }
    .account-item {
        margin: 12px 0px;
    }
}
@media (max-width: 480px) {
    .title {
        font-size: 35px !important;
        margin: 0px 10px !important;
    }
    .cloud-image {
        max-height: 35px !important;
    }
    .subtitle {
        font-size: 20px !important;
    }
    div.login-container {
        padding-top: 0px;
        margin-top: -30px;
    }
    .alerts-table {
        width: 100%;
    }
    .alerts-table tr:nth-last-child(2) td:first-child { /* gap size */
        padding-right: 5px;
    }
    .info-box {
        right: 10px;
        bottom: 10px;
        padding: 5px 10px 0px 10px;
    }
    .login-container {
        max-width: 300px;
    }
}
@media (max-width: 330px) {
    .title {
        font-size: 30px !important;
        margin: 0px 10px !important;
    }
    .cloud-image {
        max-height: 30px !important;
    }
    .subtitle {
        font-size: 18px !important;
    }
    .aqi-chart {
        max-width: 250px;
    }
    .info-box-text {
        max-width: 250px;
    }
}
